/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Belleza&family=Roboto&family=Roboto+Slab:wght@300;400&family=Sen&display=swap');
:root {
    --body-color: #fff;
    --card-bg: #f0f2fa;
    --heading-color: #1e202a;
    --text-color: #0d0e11;
    --bg-trans: rgba(0, 0, 0, 0.384);
    --custom-btn-text: #fff;
    --btn-bg-color: #2ea3d0;
    --icon-bg: rgb(10 183 191 / 10%);
    --icon-hover-bg: rgb(10 183 191 / 38%);
    --bg-dark-light: #fff;
}

.dark {
    --body-color: #1f212e;
    --bg-trans: rgba(0, 0, 0, 0.384);
    --card-bg: #252a41;
    --heading-color: #ffffff;
    --text-color: #fff;
    --bg-dark-light: #111;
}

.fa-moon {
    cursor: pointer;
    color: var(--custom-btn-text);
    -webkit-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    transform: rotate(-25deg);
}

body,
html {
    scroll-behavior: smooth;
    background-color: var(--body-color);
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    font-family: 'Bellefair', serif;
    font-family: 'Belleza', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Sen', sans-serif;
}


/* h1 {
    font-family: 'Bellefair', serif;
} */

.top-icon {
    position: fixed;
    bottom: 180px;
    right: 15px;
    z-index: 9;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 40px;
    height: 40px;
    background: var(--secondary-color);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    padding: 0;
}

.headings {
    font-family: 'Bellefair', serif;
}

.headings-content {
    font-family: 'Belleza', sans-serif;
    color: var(--text-color);
    letter-spacing: 2px;
}

p {
    font-family: 'Sen', sans-serif;
    color: var(--text-color);
}

button {
    font-family: 'Sen', sans-serif;
}

a:hover {
    text-decoration: none;
}

.sohel,
.malek {
    font-size: 25px;
}

.custom-btn {
    background: var(--btn-bg-color);
    color: var(--custom-btn-text);
    padding: 10px 16px 10px 16px;
    border-radius: 30px;
    letter-spacing: 2px;
    font-size: 14px;
    font-family: 'Sen', sans-serif;
}

.main-banner h1 {
    font-size: 50px;
}


/*-----------navbar menu--------------------------------------------*/

.navbar-nav .nav-item {
    text-align: center;
}

.contact-no:hover i,
.navbar_brand,
.navbar-light .navbar-nav .nav-link,
.dropdown-item,
.contact-no,
.blog-post-heading,
.contact-lite-section h1,
#nav ul.main li a span,
.service-section .service-main h4,
.promocode-section h6,
.promocode-section h2 {
    color: var(--heading-color);
}

.navbar-light .navbar-nav .active>.nav-link {
    color: var(--btn-bg-color);
    font-weight: 800;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.dropdown-item:focus,
.dropdown-item:hover {
    color: var(--btn-bg-color);
    background: none;
}

.main_nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: auto;
    -webkit-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
}

.dropdown-menu {
    background-color: var(--body-color);
    border: 1px solid var(--card-bg);
}

.h_50px {
    -webkit-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
    padding: 0 !important;
    height: 70px;
}

.h_80px {
    -webkit-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
    height: 100px;
    padding: 0 !important;
}

.active1 {
    background-color: var(--body-color);
}


/* -------------------------------------navbar END----------------------------------------- */

#theme-toggle1 {
    margin: 0 60px 0px 0px;
}

#theme-toggle {
    margin-top: 2px;
}

#theme-toggle,
#theme-toggle1 {
    font-size: 23px;
}


/*-----------navbar--------------------------------------------*/


/*---------sidemenu effectiv------------------------------------------------------------*/

.menu {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 21;
    right: 1%;
}

.menu span {
    position: relative;
    margin-top: 9px;
    margin-bottom: 9px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -1.5px;
}

.menu span,
.menu span::before,
.menu span::after {
    display: block;
    width: 26px;
    right: 0;
    height: 3px;
    background-color: var(--btn-bg-color);
    outline: 1px solid transparent;
    -webkit-transition-property: background-color, -webkit-transform;
    -o-transition-property: background-color, -o-transform;
    transition-property: background-color, -webkit-transform;
    -o-transition-property: background-color, transform;
    transition-property: background-color, transform;
    transition-property: background-color, transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.menu span::before,
.menu span::after {
    position: absolute;
    content: "";
}

.menu span::before {
    top: -9px;
    width: 20px
}

.menu span::after {
    top: 9px;
    width: 33px;
}

.menu.clicked span {
    background-color: transparent;
}

.menu.clicked span::before {
    -webkit-transform: translateY(9px) rotate(45deg);
    -ms-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg);
    width: 33px;
}

.menu.clicked span::after {
    -webkit-transform: translateY(-9px) rotate(-45deg);
    -ms-transform: translateY(-9px) rotate(-45deg);
    transform: translateY(-9px) rotate(-45deg);
}

.menu.clicked span:before,
.menu.clicked span:after {
    background-color: var(--btn-bg-color);
}

.menu:hover {
    cursor: pointer;
}

#nav {
    background: var(--body-color);
    position: fixed;
    z-index: 20;
    border-left: 1px solid #00000026;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 250px;
    width: 100%;
    padding: 45px 15px 45px 15px;
    overflow-y: auto;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transition: -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

#nav.show {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}

#nav.show ul.main li {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
}

.menu.clicked {
    position: fixed;
    z-index: 99;
}

#nav.show ul.main li:nth-child(1) {
    -webkit-transition-delay: 0.15s;
    -o-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

#nav.show ul.main li:nth-child(2) {
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

#nav.show ul.main li:nth-child(3) {
    -webkit-transition-delay: 0.45s;
    -o-transition-delay: 0.45s;
    transition-delay: 0.45s;
}

#nav.show ul.main li:nth-child(4) {
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

#nav.show ul.main li:nth-child(5) {
    -webkit-transition-delay: 0.75s;
    -o-transition-delay: 0.75s;
    transition-delay: 0.75s;
}

#nav.show ul.main li:nth-child(6) {
    -webkit-transition-delay: 0.9s;
    -o-transition-delay: 0.9s;
    transition-delay: 0.9s;
}

#nav.show ul.main li:nth-child(7) {
    -webkit-transition-delay: 1.05s;
    -o-transition-delay: 1.05s;
    transition-delay: 1.05s;
}

#nav ul.main {
    list-style-type: none;
}

#nav ul.main li {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    float: none;
    color: var(--heading-color);
}

#nav ul.main li:last-of-type {
    margin-bottom: 0px;
}

#nav ul.main li a {
    color: var(--heading-color);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    display: block;
    padding: 10px 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #603e82;
    opacity: 0;
    visibility: hidden;
}


/* ----------------main banner----------------------------------------------------- */

.main-banner {
    background: url('https://i.ibb.co/4VF0qS4/banner.png');
    background-size: 100% 100%;
    background-attachment: scroll;
    background-position: center;
    min-height: 40em;
    padding: 10em 0 0 0;
}

.promocode-section {
    background: url('https://i.ibb.co/ykMDdh3/promo.png');
    background-size: 100% 100%;
    background-attachment: scroll;
    background-position: center;
    min-height: 40em;
    padding: 10em 0 0 0;
}


/* -------------testimonial-section---------------------------------------------------------- */

.testimonial-section h4,
.testimonial-sub .testimonial-content h4 {
    color: var(--text-color);
}

.testimonial-section .testimonial-sub {
    text-align: center;
    position: relative;
    width: 100%;
}

.testimonial-section .testimonial-sub img {
    height: 20em;
    width: auto;
}

.testimonial-content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: var(--bg-trans);
}

.about-icon {
    background: var(--icon-bg);
    text-align: center;
    height: 65px;
    border-radius: 50% 50%;
    transition: 0.5s;
    width: 65px;
}

.icon-content {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 20px;
    padding-top: 1.3em;
}

.about-content {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--heading-color);
}

.about-content a,
.footer-link a,
.promocode-section div .promocode-icon a:hover,
.footer-link h3,
.footer-section .promocode-icon a:hover {
    color: var(--heading-color);
    transition: 0.3s;
}

.promocode-section div .promocode-icon div a {
    transition: .3s;
}

.about-icon i {
    color: var(--btn-bg-color);
    transition: 0.5s;
    font-size: 22px;
    line-height: 65px;
}

.icon-content1:hover .about-icon i,
.icon-content2:hover .about-icon i {
    color: var(--custom-btn-text);
    transition: 0.5s;
}

.icon-content:hover .about-icon {
    background: var(--btn-bg-color);
    transition: 0.5s;
}

.video-section span {
    position: absolute;
    top: 0;
    left: 0;
}

.video-section a img {
    border-radius: 9%;
}

.blog-main div span {
    background: var(--icon-bg);
    color: var(--btn-bg-color);
    border-radius: 20px;
    font-weight: 700;
    font-size: 14px;
    padding: 8px 15px 8px 15px;
}

.blog-title {
    color: var(--heading-color);
    font-size: 20px;
    display: inherit;
}

.blog-date {
    margin-top: 5px;
    ;
}

.blog-main div a {
    color: var(--text-color);
    transition: .3s;
}


/* .blog-main div a i {
    color: var(--btn-bg-color);
} */

.blog-main a:hover,
.contact-no:hover,
.blog-main div a i,
.about-content a:hover,
.service-section i,
.footer-link a i,
.footer-link a:hover {
    color: var(--btn-bg-color);
    transition: .3s;
}

.blog-main {
    border-radius: 23px;
}

.about-section,
.contact-lite-section {
    background: var(--bg-dark-light);
}

.navbar .navbar_brand {
    width: 100px;
}

.promocode-section div .promocode-icon a,
.footer-section .promocode-icon a {
    background: var(--icon-bg);
    line-height: 35px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    text-align: center;
    margin-right: 2px;
    display: inline-block;
}

.promocode-section div .promocode-icon a:hover,
.footer-section .promocode-icon a:hover {
    background: var(--icon-hover-bg);
    transition: .3s;
}

.promocode-section p {
    color: var(--heading-color);
}

.footer-section .navbar_brand {
    font-size: 35px;
}

.footer-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-link a i {
    color: var(--btn-bg-color);
    margin-top: 3%;
    margin-bottom: 6%;
}

.footer-link div i {
    background: var(--btn-bg-color);
    width: 60px;
    line-height: 45px;
    text-align: center;
    color: var(--custom-btn-text);
    font-size: 25px;
    border-radius: 0px 15px 15px 0px;
}

.footer-link div input {
    border-radius: 15px 0px 0px 15px;
    padding-left: 15px;
    border-width: 1px;
    /* border: 1px solid;
    border-right: none; */
}